@import '../../../styles/settings.scss';

.catalog-wrapper {
  display: flex;
  flex-direction: row;
  height: 500px;
}
.item1 {
  flex: 70%;
}

.item2 {
  flex: 30%;
}

@media (max-width: $screen-sm) {
  .catalog-wrapper {
    display: flex;
    flex-direction: column;
  }
}
