@import '../../../styles/settings.scss';

.carousel-item {
  height: 400px; /* Default height for larger screens */
  margin: 0;
  padding: 0;

  @media (max-width: $screen-sm) {
    height: 300px; /* Adjust height for smaller screens */
  }

  .carousel-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: $radius;
    margin: 3px;
    padding: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

    h2 {
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    h3 {
      color: $color-accent;
    }

    img {
      padding: 5px;
      max-width: 100%;
      height: auto;
    }

    @media (max-width: $screen-sm) {
      flex-direction: column;
      align-items: center;

      img {
        padding: 5px;
        width: 200px; /* Adjust image width for smaller screens */
        height: 200px; /* Adjust image height for smaller screens */
      }
    }
  }
}
