@import '../../../styles/settings.scss';

.carousel-container {
  height: 400px;
}

.carousel-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: $radius;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin: 10px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  h3 {
    align-items: center;
  }
  img {
    padding: 10px;
  }
}

.carousel-text-overlay {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
