.map-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; 
  height: 500px;
  padding: 10px;
}

.map-controls {
  display: flex;
  justify-content: space-around;
}
