@import '../../../styles/settings.scss';

.locate-button {
  background-color: $color-dark;
  border: 1px solid $color-background;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 5px;
  transition: (background-color, border) 0.3s;

  &:hover {
    background-color: $color-light;
    border: 1px solid $color-accent;
  }
}
