@import '../../../styles/settings.scss';

.locate-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-background;
  border: none;
  border-radius: 2px;
  height: 30px;
  width: 30px;
  color: black;
  font-size: 22px;
  line-height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  cursor: pointer;

  &:hover {
    background-color: green; /* Kolor tła przy najechaniu */
    color: white; /* Kolor tekstu przy najechaniu */
  }
}
