@import './settings.scss';
// @import './plugins/leaflet.scss';
// @import './plugins/magic-dots.scss';
@import url(https://i.postimg.cc/Bvx3tfDc/background.jpg);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $color-background;
  overflow: cover;
  font-family: $font-text;
  font-size: ($base-size * 1.1);
  color: $color-light;
  letter-spacing: 0.5px;
}

.active {
  font-weight: bold;
}

:global(.container) {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

@import './typography.scss';
