$color-light: #55b7b3;
$color-dark: #0266c5;
$color-accent: rgb(184, 74, 18);
$color-background: rgb(255, 255, 255);
$color-success: #26de81;
$color-warning: #e1644e;

$font-text: 'Poppins', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
