@import '../../../styles/global.scss';

nav {
  height: 80px;
  width: 100%;
  background: $color-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.2rem;
  position: sticky;
  top: 0;

  .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: $color-dark;
  }

  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    list-style: none;

    .nav-item {
      list-style: none;

      .nav-link {
        text-decoration: none;
        color: $color-dark;
        // transition: 0.3s all;

        &:hover {
          font-weight: bold;
          color: $color-accent;
        }

        &:active {
          color: $color-background;
        }
      }
    }
  }

  .nav-icon {
    display: none;
    font-size: 2rem;
    color: $color-dark;
    cursor: pointer;
  }
}

@media only screen and (max-width: 500px) {
  nav {
    position: relative;

    .nav-links {
      display: flex;
      flex-direction: column;
      position: absolute;
      text-align: center;
      width: 100%;
      top: 80px;
      left: -100%;
      transition: 0.5s all;
    }

    .nav-icon {
      display: block;
    }
  }

  // .nav-item {
  //   padding: 10px 0;
  //   border-top: 1px solid red;
  //   border-bottom: 1px solid red;
  // }
}
