@import '../../../styles/typography.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.navigation {
  width: 100%;
  padding: 0 2rem;
  font-size: 1rem;
  background-color: $color-light;
  color: $color-dark;

  .logo {
    a {
      text-decoration: none;
      color: $color-dark;
      font-size: 1.2rem;
    }
  }

  .menuToggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;

    &.open {
      display: block;
    }
  }

  .menu {
    list-style: none;
    display: flex;

    li {
      margin-right: 20px;

      a {
        text-decoration: none;
        color: $color-dark;

        &:hover {
          color: $color-accent;
        }
      }
    }
  }

  @media (max-width: $screen-sm) {
    .menuToggle {
      display: block;
    }

    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      margin: 0;
      background-color: $color-light;
      width: 100%;
      text-align: center;
      z-index: 1;

      &.open {
        display: flex;
      }

      li {
        margin: 10px 0;

        a {
          font-size: 18px;
        }
      }
    }
  }
}
