@import '../../../styles/global.scss';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-light;

  .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: $color-dark;
  }

  ul {
    display: flex;

    li {
      list-style: none;

      a {
        display: block;
        text-decoration: none;
        color: $color-dark;
        padding: 0.5rem;
        margin: 0 0.5rem;
        border-radius: 0.5rem;
      }
    }
  }
}
