@import '../../../styles/settings.scss';

.gpsStatus {
  font-size: ($base-size * 1.05);
  font-weight: bold;
  margin: 0;
  padding: 2px;
  background: rgba(255, 255, 255, 0.7);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  &.greenText {
    color: $color-success;
  }

  &.redText {
    color: $color-warning;
  }
}
