.footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 100%;
  margin-top: 50px;
}

.footer-text {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text span {
  color: #f39c12;
  font-size: 20px;
}

.footer-text em {
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
  color: #ccc;
  margin-top: 4px;
}

@media (max-width: 768px) {
  .footer-text {
    font-size: 14px;
  }

  .footer-text span {
    font-size: 16px;
  }
}
